.env
.dev*/

# Python
*.pyc
*.log
*.pot
__pycache__
db.sqlite3
*.sqlite
media

*.swp
*.egg-info
coverage.xml
.coverage
doc/build
doc/source/generated
.tox
build
dist
venv
.eggs
.idea/
.vscode/

docker-compose.override.yml
